@charset "utf-8";
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-item {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 16px;
}
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-item:after {
  content: "";
  position: absolute;
  right: -8px;
  top: 4px;
  height: 19px;
  width: 1px;
  background-color: #80868B;
}
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-item:last-child:after {
  content: none;
}
@media screen and (max-width: 767px) {
  .moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-item {
    margin-right: 20px;
  }
  .moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-item:after {
    content: none;
  }
}
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-link {
  color: #80868B;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-link:hover {
  color: #d3d8db;
}
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-link .fa {
  font-size: 15px;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-link .fa {
    font-size: 32px;
  }
}
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-username {
  font-style: italic;
  white-space: nowrap;
  max-width: 128px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-text,
.moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-username {
  padding-left: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-text,
  .moto-widget-store_cart_and_profile .moto-widget-store_cart_and_profile-username {
    display: none;
  }
}
.moto-widget-store-breadcrumbs.moto-preset-2 ul {
  list-style: none;
}
.moto-widget-store-breadcrumbs.moto-preset-2 ul li {
  display: inline-block;
}
.moto-widget-store-breadcrumbs.moto-preset-2 ul li .active {
  background: #cacaca;
}
.moto-widget-store-breadcrumbs.moto-preset-2 ul li a {
  color: #333333;
  border: 1px solid #cacaca;
  background: #fff;
  padding: 2px 10px;
  font-size: 12px;
}
.moto-widget-store-breadcrumbs.moto-preset-2 ul li a :hover {
  background: #cacaca;
  color: #333333;
}
.moto-widget-store-breadcrumbs.moto-preset-2 ul li + li {
  margin-left: -3px;
}
.moto-widget-store_search .search-form {
  display: block;
  position: relative;
  width: 100%;
}
.moto-widget-store_search .search-form_label {
  display: block;
  padding: 12px 40px 12px 10px;
  background: #ededed;
  border: 1px solid #acacac;
}
.moto-widget-store_search .search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #333;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
}
.moto-widget-store_search .search-form_submit {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 25px;
  height: 22px;
  color: #999999;
  font: 400 18px/22px 'FontAwesome', sans-serif;
}

.moto-widget-store_search .search-form_submit:hover {
  color: #dbb879;
}
.moto-widget-store_search .search-form_toggle {
  float: right;
  display: inline-block;
  color: #80868B;
  font: 400 44px/44px "FontAwesome";
}
.moto-widget-store_search .search-form_toggle:before {
  content: "";
}
.moto-widget-store_search .search-form_toggle.active,
.moto-widget-store_search .search-form_toggle:hover {
  color: #80868B;
}
.moto-widget-store_search .search-form_toggle.active:before {
  content: "";
}
.moto-widget-store_search .search-form {
  display: none;
}
.moto-widget-store_search .search-form.on {
  display: block;
}
@media (max-width: 767px) {
  .moto-widget-store_search .search-form_toggle {
    display: none;
  }
  .moto-widget-store_search .search-form {
    display: block;
  }
}
.moto-widget-store_search .search-form_liveout {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.moto-widget-store_search .lt-ie9 .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.moto-widget-store_search .search-form_liveout .search_list {
  font-size: 14px;
  line-height: 24px;
  background: #FFF;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.moto-widget-store_search .search-form_liveout .search_list li {
  width: 100%;
  margin-left: 0;
}
.moto-widget-store_search .search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.moto-widget-store_search .search-form_liveout .search_link {
  display: block;
  padding: 5px 10px;
  background: #FFF;
  color: #999;
}
.moto-widget-store_search .search-form_liveout .search_link .search_title {
  color: #80868B;
  text-transform: uppercase;
}
.moto-widget-store_search .search-form_liveout .search_link:hover {
  background: #dbb879;
  color: white;
}
.moto-widget-store_search .search-form_liveout .search_link:hover .search_title {
  color: #FFF;
}
.moto-widget-store_search .search-form_liveout .search_error {
  display: block;
  color: #dbb879;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
}
.moto-widget-store_search .search-form_liveout .match {
  display: none;
}
.moto-widget-store_search .search-form_liveout button {
  display: block;
  color: #dbb879;
  background: #fafafa;
  padding: 10px 10px;
  width: 100%;
  margin-left: 0;
}
.moto-widget-store_search .search-form_liveout button:hover {
  background: #dbb879;
  color: #FFF;
}
.moto-widget-store_search input:focus + .search-form_liveout {
  opacity: 1;
}
.moto-widget-store_search .lt-ie9 input:focus + .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=100);
}
.moto-widget-store_search .search-form_liveout .tablet,
.moto-widget-store_search .mobile .search-form_liveout {
  display: none !important;
}
.moto-widget-store_search .search-frame,
.moto-widget-store_search .search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.moto-widget-store_search .search-frame,
.moto-widget-store_search .search-frame body,
.moto-widget-store_search .search-frame h1,
.moto-widget-store_search .search-frame h2,
.moto-widget-store_search .search-frame h3,
.moto-widget-store_search .search-frame h4,
.moto-widget-store_search .search-frame h5,
.moto-widget-store_search .search-frame h6,
.moto-widget-store_search .search-frame p,
.moto-widget-store_search .search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  font-family: "Ubuntu", sans-serif;
}
.moto-widget-store_search .search-frame img {
  max-width: 100%;
  height: auto;
}
.moto-widget-store_search .search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.moto-widget-store_search .search-frame a:active {
  background: transparent;
}
.moto-widget-store_search .search-frame a:focus {
  outline: none;
}
.moto-widget-store_search .search-frame h4 {
  font-size: 30px;
  color: #333333;
}
.moto-widget-store_search .search-frame h4 a:hover {
  color: #dbb879;
}
.moto-widget-store_search .search-frame .search_list {
  margin: 0;
  padding: 30px;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
}
.moto-widget-store_search .search-frame .search_list li {
  padding-left: 30px;
  position: relative;
}
.moto-widget-store_search .search-frame .search_list li:before {
  content: '\f0a4';
  position: absolute;
  left: -20px;
  top: 6px;
  width: 24px;
  height: 24px;
  font: 400 24px "FontAwesome";
  line-height: inherit;
  color: #CACACA;
  -moz-transition: 0.6s ease all;
  -o-transition: 0.6s ease all;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}
.moto-widget-store_search .search-frame .search_list li:hover:before {
  left: -10px;
}
.moto-widget-store_search .search-frame .search_list + li {
  margin-top: 20px;
}
.moto-widget-store_search .search-frame .search_list li + li {
  margin-top: 30px;
}
.moto-widget-store_search .search-frame .search {
  color: #dbb879;
}
.moto-widget-store_search .search-frame .match {
  color: #dbb879;
  font-size: 11px;
  display: block;
}
.moto-widget-store_search .search-frame * + p {
  margin-top: 16px;
}
/* mixins start */
.moto-widget-store-clearfix {
  content: '';
  display: block;
  clear: both;
}
.ptsans {
  font-family: "PT Sans", sans-serif;
}
/* mixins end */
/* menu */
.moto-widget-store-sidebar_nav,
.moto-widget-store-sidebar_nav ul,
.moto-widget-store-sidebar_nav ul li,
.moto-widget-store-sidebar_nav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-size: 18px;
  color: #2e3a46;
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-sidebar_nav {
  width: 100%;
  border-top: 1px solid #d3d8db;
  border-bottom: none;
}
.moto-widget-store-sidebar_nav > ul > li {
  border-bottom: 1px solid #d3d8db;
}
.moto-widget-store-sidebar_nav ul ul {
  display: none;
}
.moto-widget-store-sidebar_nav > ul > li > a {
  padding: 17px 20px 15px 20px;
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
  font-size: 18px;
}
.moto-widget-store-sidebar_nav-holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.moto-widget-store-sidebar_nav-holder::after {
  display: block;
  position: absolute;
  content: '\f107';
  right: 15px;
  top: 15px;
  z-index: 10;
  font-family: FontAwesome;
  font-size: 20px;
  color: #2e3a46;
}
.moto-widget-store-sidebar_nav > ul > li.active > a,
.moto-widget-store-sidebar_nav > ul > li.open > a {
  background: #d3d8db;
}
.moto-widget-store-sidebar_nav ul ul li a {
  cursor: pointer;
  padding: 12px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 16px;
}
.moto-widget-store-sidebar_nav ul ul li:hover > a,
.moto-widget-store-sidebar_nav ul ul li.open > a,
.moto-widget-store-sidebar_nav ul ul li.active > a {
  text-decoration: underline;
}
.moto-widget-store-sidebar_nav ul ul li:first-child > a {
  box-shadow: none;
}
.moto-widget-store-sidebar_nav ul ul ul li a {
  padding-left: 30px;
}
.moto-widget-store-sidebar_nav > ul > li > ul > li:last-child > a,
.moto-widget-store-sidebar_nav > ul > li > ul > li.last > a {
  border-bottom: 0;
}
.moto-widget-store-sidebar_nav > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
.moto-widget-store-sidebar_nav ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: '\f107';
  font-family: FontAwesome;
  font-size: 20px;
  color: #2e3a46;
  right: 15px;
  z-index: 10;
  top: 11px;
}
.moto-widget-store {
  /* autorization forms */
  /* checkout */
  /* selectbox */
  /* confirmation */
  /* -shp_cart-form */
  /* spinner */
  /* breadcrumbs */
  /* main_item */
  /* featured_row */
  /* sidebar_nav */
  /* show_menu */
  /* paginator */
  /* detail */
  /* related */
  /* account_orders */
}
.moto-widget-store-checkout-confirmation-mail {
  color: #ff7200;
  text-decoration: underline;
}
.moto-widget-store-checkout-confirmation-mail:hover {
  color: #ff7200;
  text-decoration: none;
}
.moto-widget-store-form_link {
  color: #ff7200;
  font-size: 16px;
  text-decoration: underline;
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-form_link:hover {
  color: #ff7200;
  text-decoration: none;
}
.moto-widget-store-form_link-wrap {
  text-align: right;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-form_link-wrap {
    margin-top: 20px;
    text-align: left;
  }
}
.moto-widget-store-form_buttons .moto-widget-contact_form-buttons {
  float: left;
}
.moto-widget-store-form_buttons .moto-widget-contact_form-buttons .moto-widget-button {
  margin-right: 30px;
}
.moto-widget-store-form_buttons .moto-widget-contact_form-buttons .moto-widget-button:last-child {
  margin-right: 0;
}
.moto-widget-store-form_buttons .moto-widget-button {
  float: left;
}
.moto-widget-store-form_buttons:after {
  content: '';
  display: block;
  clear: both;
}
.moto-widget-store-checkout-step-title {
  font-family: "PT Sans", sans-serif;
  color: #000;
  border-bottom: 1px solid #000;
  position: relative;
  padding: 10px 10px 18px 1px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 24px;
}
.moto-widget-store-checkout-step-title:before {
  content: '\f107';
  display: block;
  position: absolute;
  right: 2px;
  top: 8px;
  font-family: FontAwesome;
  font-size: 25px;
  color: #000;
}
.moto-widget-store-checkout-step-title.active {
  color: #ff7200;
}
.moto-widget-store-checkout-step-title.active:before {
  content: '\f106';
  color: #000;
}
.moto-widget-store-checkout-step-title.active a {
  color: #ff7200;
}
.moto-widget-store-checkout-step-content {
  display: none;
}
.moto-widget-store-checkout-step-content.active {
  display: block;
}
.moto-widget-store-checkout-form-radio_label {
  position: relative;
  padding-left: 33px;
}
.moto-widget-store-checkout-form-radio_label input {
  display: none;
}
.moto-widget-store-checkout-form-radio_label i:before {
  content: '\f10c';
  font-family: FontAwesome;
  font-style: normal;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.moto-widget-store-checkout-form-radio_label img {
  display: inline-block;
  margin-right: 10px;
}
.moto-widget-store-checkout-form-radio_label.active i:before {
  content: '\f192';
  font-family: FontAwesome;
  font-style: normal;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.moto-widget-store-checkout-form-row {
  margin-bottom: 40px;
  position: relative;
}
.moto-widget-store-checkout-form-radio_row {
  margin-bottom: 40px;
}
.moto-widget-store-checkout-form-radio_row .moto-widget-store-checkout-form-row {
  margin-bottom: 14px;
}
.moto-widget-store-checkout-form-radio_row .moto-widget-store-checkout-form-row:last-child {
  margin-bottom: 0px;
}
.moto-widget-store-checkout-confirmation {
  font-family: "PT Sans", sans-serif;
  text-align: center;
}
.moto-widget-store-checkout-confirmation-title {
  display: inline-block;
  padding-left: 62px;
  position: relative;
  margin-bottom: 40px;
}
.moto-widget-store-checkout-confirmation-title:before {
  content: '\f05d';
  display: block;
  position: absolute;
  left: 0px;
  font-family: FontAwesome;
}
.moto-widget-store-checkout-confirmation-title-failed {
  display: inline-block;
  padding-left: 62px;
  font-size: 20px;
  color: #000;
  position: relative;
  margin-bottom: 40px;
}
.moto-widget-store-checkout-confirmation-title-failed:before {
  content: '\f05c';
  display: block;
  position: absolute;
  left: 0px;
  font-family: FontAwesome;
}
.moto-widget-store-checkout-confirmation-buttons {
  margin-bottom: 40px;
}
.moto-widget-store-checkout-confirmation-buttons .moto-widget-button {
  display: inline-block;
  margin-right: 25px;
}
.moto-widget-store-checkout-confirmation-buttons .moto-widget-button:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 479px) {
  .moto-widget-store-checkout-confirmation-buttons .moto-widget-button {
    display: block;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .moto-widget-store-checkout-confirmation-buttons .moto-widget-button:last-child {
    margin-bottom: 0px;
  }
}
.moto-widget-store-select_box-type_2 {
  -webkit-box-shadow: 0px 0px 0px 1px #d3d8db;
  -moz-box-shadow: 0px 0px 0px 1px #d3d8db;
  box-shadow: 0px 0px 0px 1px #d3d8db;
  width: 56px;
  display: inline-block;
  margin-left: 10px;
  color: #80868b;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-select_box-type_2 .s-hidden {
  visibility: hidden;
}
.moto-widget-store-select_box-type_2 .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: black;
  line-height: 27px;
  width: 100%;
}
.moto-widget-store-select_box-type_2 .mute .select {
  border: none;
  cursor: auto;
}
.moto-widget-store-select_box-type_2 .styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  line-height: 27px;
  padding: 0px 10px;
  color: #8d8b8c;
  font-size: 14px;
  color: #80868b;
  font-family: "PT Sans", sans-serif;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.moto-widget-store-select_box-type_2 .styledSelect:before {
  content: '\f107';
  display: block;
  position: absolute;
  right: 5px;
  top: 1px;
  font-family: FontAwesome;
  font-size: 20px;
  color: #80868b;
}
.moto-widget-store-select_box-type_2 .mute .styledSelect {
  background: none;
}
.moto-widget-store-select_box-type_2 .options {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  left: 0px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: none;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 1px #d3d8db;
  -moz-box-shadow: 0px 0px 0px 1px #d3d8db;
  box-shadow: 0px 0px 0px 1px #d3d8db;
}
.moto-widget-store-select_box-type_2 .mute .options {
  display: none!important;
}
.moto-widget-store-select_box-type_2 .options li {
  margin: 0;
  padding: 0px 10px;
  font-size: 14px;
  line-height: 27px;
  color: #80868b;
  border-bottom: 1px solid #d3d8db;
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-select_box-type_2 .options li:hover {
  color: #FFF;
  background: #bebebe;
}
.moto-widget-store-confirmation {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  /* 1170 */
}
.moto-widget-store-confirmation-payment_method-margin_bottom {
  margin-bottom: 40px;
}
.moto-widget-store-confirmation-pc {
  display: table;
}
.moto-widget-store-confirmation-pc ul {
  display: table-row;
}
.moto-widget-store-confirmation-pc ul li {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #000;
  padding: 20px 0px;
  text-align: center;
}
.moto-widget-store-confirmation-pc ul li:last-child {
  padding-right: 0px;
}
.moto-widget-store-confirmation-pc ul li.moto-widget-store-confirmation-name {
  text-align: left;
}
.moto-widget-store-confirmation-total {
  font-family: "PT Sans", sans-serif;
  text-align: right;
}
.moto-widget-store-confirmation-total-wrap {
  padding: 36px 0px 50px 0px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-confirmation-total-wrap {
    padding: 6px 0px 50px 0px;
  }
}
.moto-widget-store-confirmation-total-small_text {
  color: #ff7200;
  font-size: 20px;
  margin-bottom: 2px;
}
.moto-widget-store-confirmation-total-big_text {
  color: #000;
  font-size: 30px;
  margin: 15px 0px 33px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-confirmation-total {
    text-align: left;
  }
}
.moto-widget-store-confirmation-mobile {
  display: none;
  margin-bottom: 32px;
  padding-bottom: 26px;
  border-bottom: 1px solid #000;
}
.moto-widget-store-confirmation-mobile-top {
  margin-bottom: 25px;
}
.moto-widget-store-confirmation-mobile-top-name {
  position: relative;
  top: -6px;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
}
.moto-widget-store-confirmation-mobile-price {
  margin-bottom: 20px;
  color: #747474;
  font-size: 16px;
}
.moto-widget-store-confirmation-mobile-price span {
  color: #000;
}
.moto-widget-store-confirmation-mobile-quantity {
  font-size: 16px;
  margin-bottom: 15px;
}
.moto-widget-store-confirmation-mobile-quantity span {
  color: #000;
  display: block;
  margin-bottom: 8px;
}
.moto-widget-store-confirmation-mobile-quantity .ui-spinner {
  width: 100%;
}
.moto-widget-store-confirmation-mobile-quantity .moto-widget-store-spinner-type_1 {
  width: 100%;
}
.moto-widget-store-confirmation-mobile-total_price {
  color: #747474;
  font-size: 16px;
}
.moto-widget-store-confirmation-mobile-total_price span {
  color: #000;
}
.moto-widget-store-confirmation-mobile-remove {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-confirmation-pc {
    display: none;
  }
  .moto-widget-store-confirmation-mobile {
    display: block;
  }
}
.moto-widget-store-confirmation-checkout ul li {
  width: 14.52991452991453%;
  /* 170 1170 */
  padding-right: 2.56410256410256%;
  /* 30 1170 */
}
.moto-widget-store-confirmation-checkout ul li:last-child {
  padding-right: 0px;
}
.moto-widget-store-confirmation-checkout ul li.moto-widget-store-confirmation-pc-name {
  width: 31.62393162393162%;
  /* 370 1170 */
  text-align: left;
}
.moto-widget-store-confirmation-shp_cart ul li {
  width: 14.52991452991453%;
  /* 170 1170 */
  padding-right: 2.56410256410256%;
  /* 30 1170 */
}
.moto-widget-store-confirmation-shp_cart ul li:last-child {
  padding-right: 0px;
}
.moto-widget-store-confirmation-shp_cart ul li.moto-widget-store-confirmation-pc-name {
  width: 23.07692307692308%;
  /* 270 1170 */
  text-align: left;
}
.moto-widget-store-shp_cart-form-textarea {
  border: 1px solid #000;
  width: 100%;
  padding: 10px 10px 10px 10px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  outline: none;
  margin-bottom: 28px;
}
.moto-widget-store-shp_cart-form-input {
  margin-bottom: 20px;
  border: 1px solid #000;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.moto-widget-store-shp_cart-form-input::-webkit-input-placeholder {
  color: #747474;
}
.moto-widget-store-shp_cart-form-input:-moz-placeholder {
  color: #747474;
}
.moto-widget-store-shp_cart-form-input::-moz-placeholder {
  color: #747474;
}
.moto-widget-store-shp_cart-form-input:-ms-input-placeholder {
  color: #747474;
}
.moto-widget-store-shp_cart-discount {
  display: none;
  padding-top: 10px;
}
.moto-widget-store-shp_cart-discount.active {
  display: block;
}
.moto-widget-store-shp_cart-btns .moto-widget-button {
  display: inline-block;
}
.moto-widget-store-shp_cart-btns .moto-widget-button:first-child {
  margin-right: 25px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-shp_cart-btns .moto-widget-button {
    display: block;
    margin: 0px 0px 20px 0px;
  }
}
.moto-widget-store-spinner-wrap .ui-spinner {
  position: relative;
  display: inline-block;
}
.moto-widget-store-spinner-wrap .ui-spinner-button {
  display: block;
  width: 12px;
  height: 7px;
  position: absolute;
  right: 6px;
  line-height: 5px;
}
.moto-widget-store-spinner-wrap .ui-spinner-button:hover:before {
  color: #cecece;
}
.moto-widget-store-spinner-wrap .ui-spinner-button:before {
  font-family: FontAwesome;
  display: block;
  color: #000;
  font-size: 20px;
}
.moto-widget-store-spinner-wrap .ui-spinner-up {
  top: 6px;
}
.moto-widget-store-spinner-wrap .ui-spinner-up:before {
  content: '\f106';
}
.moto-widget-store-spinner-wrap .ui-spinner-down {
  bottom: 4px;
}
.moto-widget-store-spinner-wrap .ui-spinner-down:before {
  content: '\f107';
}
.moto-widget-store-spinner-wrap .ui-button-text {
  display: none;
}
.moto-widget-store-spinner-type_1 {
  border: 1px solid #cacaca;
  width: 56px;
  padding: 5px 0 5px 10px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.moto-widget-store-spinner-type_1:focus {
  outline: none;
}
.moto-widget-store-breadcrumbs.moto-preset-default {
  margin-bottom: 20px;
  white-space: nowrap;
}
.moto-widget-store-breadcrumbs.moto-preset-default ul li {
  display: inline-block;
  position: relative;
  padding-right: 9px;
}
.moto-widget-store-breadcrumbs.moto-preset-default ul li:after {
  content: '/';
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #000;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-breadcrumbs.moto-preset-default ul li a {
  color: #ff7200;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  text-decoration: underline;
}
.moto-widget-store-breadcrumbs.moto-preset-default ul li a:hover {
  text-decoration: none;
}
.moto-widget-store-breadcrumbs.moto-preset-default ul li:last-child a {
  color: #000;
  text-decoration: none;
}
.moto-widget-store-breadcrumbs.moto-preset-default ul li:last-child:after {
  display: none;
  padding-right: 0px;
}
.moto-widget-store-main_item {
  margin-bottom: 40px;
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-main_item .moto-widget-image {
  margin-bottom: 17px;
  font-size: 30px;
}
.moto-widget-store-main_item .moto-widget-image .moto-widget-store-main_item-label {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 20px;
  padding: 5px 20px;
  background: #8f8f8f;
}
.moto-widget-store-main_item .moto-widget-image .moto-widget-store-main_item-discount {
  position: absolute;
  width: 74px;
  height: 74px;
  padding-top: 15px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 9px;
  bottom: 10px;
  text-align: center;
  background: #ff0000;
  color: #FFF;
  font-size: 30px;
  border-radius: 50%;
}
.moto-widget-store-main_item-title {
  color: #ff7200;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-bottom: 7px;
  text-overflow: ellipsis;
}
.moto-widget-store-main_item-title:hover {
  text-decoration: none;
}
.moto-widget-store-main_item-title-nowrap {
  overflow: auto;
  white-space: normal;
}
.moto-widget-store-main_item-price {
  color: #000;
}
.moto-widget-store-main_item-old_price > * {
  text-decoration: line-through;
}
.moto-widget-store-main_item .store-product-element-container {
  display: inline-block;
  vertical-align: top;
}
.moto-widget-store-main_item .store-product-element-container .moto-widget-store-main_item-old_price,
.moto-widget-store-main_item .store-product-element-container .moto-widget-store-main_item-price {
  margin-right: 10px;
}
.moto-widget-store-featured_row-title {
  margin-bottom: 30px;
  font-size: 30px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-featured_row-category {
  display: none;
}
.moto-widget-store-featured_row-category .moto-widget-button {
  display: inline-block;
  margin: 0px 10px 10px 0px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-featured_row-category {
    display: block;
  }
}
.moto-widget-store-featured_row-top {
  margin-bottom: 40px;
}
.moto-widget-store-featured_row .moto-widget-store-paginator {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-featured_row .moto-widget-store-paginator {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .moto-widget-store-featured_row .moto-widget-store-items_per_page {
    margin: 20px 0px;
  }
}
.moto-widget-store-items_per_page {
  font-size: 16px;
  color: #80868b;
}
.moto-widget-store-sidebar_nav-large {
  display: block;
}
.moto-widget-store-sidebar_nav-phone {
  background: #FFF;
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-sidebar_nav-phone {
    display: none;
  }
}
.moto-widget-store-sidebar_nav-phone-wrap {
  position: relative;
}
@media screen and (min-width: 767px) {
  .moto-widget-store-sidebar_nav-phone-wrap {
    display: none;
  }
}
.moto-widget-store-show_menu {
  margin-bottom: 20px;
  display: none;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-show_menu {
    display: block;
  }
}
.moto-widget-store-paginator-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  color: #80868b;
  text-decoration: none;
}
.moto-widget-store-paginator-link:hover {
  text-decoration: underline;
}
.moto-widget-store-paginator-link.act {
  color: #54616d;
  text-decoration: underline;
}
.moto-widget-store-paginator-link:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 880px) {
  .moto-widget-store-paginator-link {
    margin-right: 20px;
  }
  .moto-widget-store-paginator-link:last-child {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .moto-widget-store-paginator-link {
    margin-right: 25px;
  }
  .moto-widget-store-paginator-link:last-child {
    margin-right: 0px;
  }
}
.moto-widget-store-paginator-prev {
  position: relative;
}
.moto-widget-store-paginator-prev:before {
  font-size: 20px;
  content: '\f104';
  font-family: FontAwesome;
}
.moto-widget-store-paginator-next {
  position: relative;
}
.moto-widget-store-paginator-next:before {
  font-size: 20px;
  content: '\f105';
  font-family: FontAwesome;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-paginator a {
    font-size: 16px;
  }
  .moto-widget-store-paginator-prev {
    top: -2px;
  }
  .moto-widget-store-paginator-prev:before {
    font-size: 34px;
  }
  .moto-widget-store-paginator-next {
    top: -2px;
  }
  .moto-widget-store-paginator-next:before {
    font-size: 34px;
  }
}
.moto-widget-store-detail {
  font-family: "PT Sans", sans-serif;
}
.moto-widget-store-detail-price {
  font-size: 48px;
  margin-bottom: 8px;
}
.moto-widget-store-detail-old_price {
  text-decoration: line-through;
  margin-bottom: 22px;
}
.moto-widget-store-detail-quantity span {
  display: inline-block;
}
.moto-widget-store-detail-quantity .moto-widget-store-spinner-wrap {
  padding-left: 10px;
}
.moto-widget-store-detail-btns {
  margin-bottom: 10px;
}
.moto-widget-store-detail-btns .moto-widget-button {
  display: inline-block;
  margin-right: 25px;
}
.moto-widget-store-detail-btns .moto-widget-button:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-detail-btns .moto-widget-button {
    display: block;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .moto-widget-store-detail-btns .moto-widget-button:last-child {
    margin-bottom: 0px;
  }
}
.moto-widget-store-detail-title {
  color: #000;
  font-size: 20px;
  margin-bottom: 30px;
}
.moto-widget-store-detail-text {
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
.moto-widget-store-detail-product_properties {
  width: 100%;
  margin-bottom: 22px;
}
.moto-widget-store-detail-product_properties li {
  display: inline-block;
  vertical-align: top;
}
.moto-widget-store-detail-product_properties li:first-child {
  width: 40%;
  margin-right: 5%;
}
.moto-widget-store-detail-product_properties li:last-child {
  width: 53%;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-detail-product_properties li {
    display: block;
    width: 100%;
    margin-right: 0px;
  }
}
.moto-widget-store-detail-col {
  margin-bottom: 50px;
}
.moto-widget-store-related {
  background: #f5f4f3;
  padding: 30px 0px 30px 0px;
}
.moto-widget-store-related-title {
  text-align: center;
  color: #000;
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-related-title {
    margin-bottom: 60px;
  }
}
.moto-widget-store-related .jcarousel-wrapper {
  position: relative;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel .jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel ul li {
  margin-right: 30px;
  width: 200px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap {
  position: absolute;
  right: 0px;
  top: -79px;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap a {
  display: inline-block;
  margin-right: 10px;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap a:last-child {
  margin-right: 0px;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap a:before {
  color: #54616d;
  font-size: 36px;
  font-family: FontAwesome;
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap a:hover:before {
  color: #d3d8db;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap {
    top: -74px;
  }
  .moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap a {
    margin-right: 17px;
  }
  .moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap a:last-child {
    margin-right: 0px;
  }
  .moto-widget-store-related .jcarousel-wrapper .jcarousel-control-wrap a:before {
    font-size: 54px;
  }
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel-control-prev:before {
  content: '\f104';
}
.moto-widget-store-related .jcarousel-wrapper .jcarousel-control-next:before {
  content: '\f105';
}
.moto-widget-store-position_relative {
  position: relative;
}
.moto-widget-store-con_carousel .navigation-wrap {
  padding: 0px 20px;
}
.moto-widget-store-con_carousel .connected-carousels .stage {
  width: 100%;
  position: relative;
}
.moto-widget-store-con_carousel .connected-carousels .navigation {
  width: 100%;
  position: relative;
}
.moto-widget-store-con_carousel .connected-carousels .navigation .nav-wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.moto-widget-store-con_carousel .connected-carousels .carousel {
  overflow: hidden;
  position: relative;
}
.moto-widget-store-con_carousel .connected-carousels .carousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.moto-widget-store-con_carousel .connected-carousels .carousel ul li {
  float: left;
  padding: 2px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.moto-widget-store-con_carousel .connected-carousels .carousel-navigation {
  width: 100%;
}
.moto-widget-store-con_carousel .connected-carousels .carousel-navigation li {
  margin-right: 2px;
  cursor: pointer;
}
.moto-widget-store-con_carousel .connected-carousels .carousel-navigation li img {
  display: block;
}
.moto-widget-store-con_carousel .connected-carousels .carousel-navigation li.active {
  opacity: 0.7;
}
.moto-widget-store-con_carousel .connected-carousels .prev-navigation,
.moto-widget-store-con_carousel .connected-carousels .next-navigation {
  display: block;
  position: absolute;
  font-size: 0px;
  width: 13px;
  height: 100%;
}
.moto-widget-store-con_carousel .connected-carousels .prev-navigation:before,
.moto-widget-store-con_carousel .connected-carousels .next-navigation:before {
  position: absolute;
  left: 0px;
  top: 50%;
  display: block;
  width: 13px;
  height: 1px;
  line-height: 0px;
  font-family: FontAwesome;
  font-size: 35px;
  color: #80868b;
}
.moto-widget-store-con_carousel .connected-carousels .prev-navigation {
  left: -20px;
}
.moto-widget-store-con_carousel .connected-carousels .prev-navigation:before {
  content: '\f104';
}
.moto-widget-store-con_carousel .connected-carousels .next-navigation {
  right: -20px;
}
.moto-widget-store-con_carousel .connected-carousels .next-navigation:before {
  content: '\f105';
}
.moto-widget-store-con_carousel .connected-carousels .prev-navigation.inactive,
.moto-widget-store-con_carousel .connected-carousels .next-navigation.inactive {
  opacity: .5;
  cursor: default;
}
.moto-widget-store-account_orders-tabs {
  margin: 25px 0px;
}
.moto-widget-store-account_orders-tabs-active {
  color: #ff7200!important;
}
.moto-widget-store-account_orders-tabs-active .moto-widget-theme-icon:before {
  background-color: #000!important;
}
.moto-widget-store-account_orders-tabs .moto-widget-button {
  display: inline-block;
  margin-right: 20px;
}
.moto-widget-store-account_orders-tabs .moto-widget-button:last-child {
  margin-right: 0px;
}
.moto-widget-store-account_orders-item {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-account_orders-item .moto-widget-store-account_orders-item-content-shipping-wrap {
    margin-bottom: 60px;
  }
  .moto-widget-store-account_orders-item-content-title {
    border-bottom: 1px solid;
    padding-bottom: 13px;
  }
}
.moto-widget-store-account_orders-item-title {
  background: #f5f4f3;
  display: table;
  width: 100%;
  margin-bottom: 40px;
  height: 60px;
}
.moto-widget-store-account_orders-item-title-text {
  display: table-cell;
  text-align: left;
  color: #010101;
  font-size: 30px;
  line-height: 30px;
  padding: 0px 30px 0px 30px;
  vertical-align: middle;
}
.moto-widget-store-account_orders-item-title-status {
  padding: 0px 30px 0px 30px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.moto-widget-store-account_orders-item-title-status span {
  display: inline-block;
  padding: 5px 25px 7px 25px;
  font-size: 18px;
  line-height: 18px;
  color: #FFF;
}
.moto-widget-store-account_orders-item-title-status-type_1 {
  background-color: #FFAB26;
}
.moto-widget-store-account_orders-item-title-status-type_2 {
  background-color: #FF8C26;
}
.moto-widget-store-account_orders-item-title-status-type_3 {
  background-color: #5BA5DD;
}
.moto-widget-store-account_orders-item-title-status-type_4 {
  background-color: #7979E6;
}
.moto-widget-store-account_orders-item-title-status-type_5 {
  background-color: #16B36B;
}
.moto-widget-store-account_orders-item-title-status-type_6 {
  background-color: #A1A7A9;
}
.moto-widget-store-account_orders-item-title-status-type_7 {
  background-color: #E12C1A;
}
.moto-widget-store-account_orders-item-title-status-type_8 {
  background-color: #67C51E;
}
.moto-widget-store-account_orders-item-title-status-type_9 {
  background-color: #F7D700;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-account_orders-item-title {
    display: block;
    height: auto;
    padding: 12px 24px 15px 24px;
  }
  .moto-widget-store-account_orders-item-title-text {
    display: block;
    padding: 0px;
    margin-bottom: 10px;
  }
  .moto-widget-store-account_orders-item-title-status {
    display: block;
    padding: 0px;
    text-align: left;
  }
  .moto-widget-store-account_orders-item-title-status span {
    font-size: 16px;
    line-height: 16px;
  }
}
.moto-widget-store-account_orders-item-content-title {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}
.moto-widget-store-account_orders-item-content-shipping {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 10px;
}
.moto-widget-store-account_orders-item-content-shipping .col-sm-4 {
  color: #000000;
}
.moto-widget-store-account_orders-item-content-shipping .col-sm-8 {
  color: #747474;
}
.moto-widget-store-account_orders-item-content-order {
  display: table;
  width: 100%;
}
.moto-widget-store-account_orders-item-content-order-table {
  display: table-row;
  font-size: 16px;
}
.moto-widget-store-account_orders-item-content-order-table li {
  display: table-cell;
  text-align: center;
  padding: 11px 10px 10px 10px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #747474;
  border-bottom: 1px solid #666666;
}
.moto-widget-store-account_orders-item-content-order-table li:first-child {
  text-align: left;
}
.moto-widget-store-account_orders-item-content-order-table-title li {
  padding-top: 0px;
  color: #000;
}
.moto-widget-store-account_orders-item-content-order-table-title li:first-child {
  text-align: center;
}
.moto-widget-store-account_orders-item-content-order-table-name {
  width: 64.91228070175439%;
  /* 370 570 */
}
.moto-widget-store-account_orders-item-content-order-pc {
  margin-bottom: 13px;
}
.moto-widget-store-account_orders-item-content-order-mobile {
  display: none;
  border-bottom: 1px solid #000;
  padding-bottom: 14px;
  margin-bottom: 25px;
}
.moto-widget-store-account_orders-item-content-order-mobile div {
  color: #747474;
  font-size: 16px;
  margin-bottom: 11px;
}
.moto-widget-store-account_orders-item-content-order-mobile div span {
  color: #000;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-account_orders-item-content-order-pc {
    display: none;
  }
  .moto-widget-store-account_orders-item-content-order-mobile {
    display: block;
  }
}
.moto-widget-store-account_orders-total {
  font-family: "PT Sans", sans-serif;
  text-align: right;
}
.moto-widget-store-account_orders-total-small_text {
  color: #ff7200;
  font-size: 16px;
  line-height: 24px;
}
.moto-widget-store-account_orders-total-big_text {
  color: #000;
  font-size: 20px;
  margin: 11px 0px 0px 0px;
}
@media screen and (max-width: 767px) {
  .moto-widget-store-account_orders-total {
    text-align: left;
  }
}
.moto-widget-store-account_shipping-title {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}
.moto-widget-store-product-options select {
  border: 1px solid #cacaca;
  width: 100%;
  padding: 5px 0 5px 10px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.moto-widget-store-product-custom-options input[type=text] {
  border: 1px solid #cacaca;
  color: #000;
  font-size: 14px;
  width: 100%;
  padding: 5px 0 5px 10px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 230px;
  display: block;
}
.moto-widget-store-product-custom-options label {
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 4px;
}
.moto-widget-store-image-block_rectangle .moto-widget-image-link {
  padding-top: 56.25%;
}
.store-empty-cart-control {
  text-align: center;
  padding: 30px 0 20px 0;
}
.moto-widget-store-image-block .moto-widget-image-link {
  position: relative;
  padding-top: 100%;
  color: #bababa;
  width: 100%;
  border: 1px solid #c4c4c4;
}
.moto-widget-store-image-block .moto-widget-image-link:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid #fff;
}
.moto-widget-store-image-block .moto-widget-image-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  max-height: 99%;
  max-width: 99%;
}
.moto-store-default-title {
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  line-height: 1.1;
  letter-spacing: 0px;
}
.moto-store-default-title-2 {
  font-size: 23px;
  line-height: 1.3;
}
.moto-widget-store-image-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
}
.moto-store-section .moto-widget-button button {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}
.moto-store-section .yotpo {
  padding: 10px 0 20px;
}
.moto-widget-store-confirmation .moto-widget-store-image-empty {
  position: static;
  font-size: 40px;
  color: #bababa;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.yotpo .text-m {
  font-size: 13px;
  margin-left: 10px;
}
.moto-store-front-messenger {
  display: flex;
  position: fixed;
  overflow: hidden;
  width: 521px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0 0 4px 4px;
  z-index: 12000;
  box-sizing: content-box;
  padding: 0 48px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  cursor: default;
  flex-direction: column;
}
.moto-store-front-messenger a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.moto-store-front-messenger a:hover {
  text-decoration: none;
}
@media screen and (max-width: 750px) {
  .moto-store-front-messenger {
    width: 90%;
    padding: 0 18px;
  }
}
.moto-store-front-messenger_message-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0;
  font-weight: 600;
  color: #fff;
  min-height: 49px;
}
.moto-store-front-messenger_type-success {
  background-color: #58cf00;
  border-color: #62e600;
  text-shadow: 0 1px #3e9400;
}
.moto-store-front-messenger_type-error {
  background-color: #ff5029;
  border-color: #ff6b4a;
  text-shadow: 0 1px #dc2e07;
}
.moto-store-front-messenger_message-text .successtext,
.moto-store-front-messenger_message-text .errortext {
  display: none;
}
.moto-store-front-messenger_type-success .successtext {
  display: block;
}
.moto-store-front-messenger_type-error .errortext {
  display: block;
}
.moto-widget-store-product-related-products .row {
  display: block;
}
.moto-widget-store-product-related-products .moto-widget-store-main_item {
  padding: 10px;
}


li a.circle {
  display: block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 13px;
  text-align: center;
}

ul.social>li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

ul.social {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.show-card-tabl {
  float: left;
  width: 100%;
}

.del-item-all, .del-item {
  cursor: pointer;
}

.price-hiden {
  display: none;
}

.nav-link-x2 a {
  font-size: 20px;
  color: #000;
}

.nav-link-x2 ul>li {
  float: left;
}

.toggle.btn-default {
    background-color: #B3B3B3;
}

.d-none {
    display: none;
}